# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers
print((3*4)+5)

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
float(200 / 60)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries in Data Science
- Create tables using Markdown in Jupyter Notebooks
- Perform basic arithmetic operations in Python
- Convert units using Python code

## Author

Ahmet Süha KILIÇ